.dashboard{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;

    .texts{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;

        .logo{
            gap: 20px;
            display: flex;
            align-items: center;
            opacity: 0.3;
            margin-top: 60px;
            margin-bottom: 60px;

            img{
                width: 50px;
                height: 50px;
            }

            h1{
                font-size: 40px;
                background: linear-gradient(to right, rgb(88, 231, 200), rgb(178, 112, 229));
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
            }
        }

        .options{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            flex-wrap: wrap;
            width: 100%;

            .option{
                display: flex;
                flex: 1 1 0;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                font-weight: 300;
                font-size: 14px;
                padding: 20px 10px;
                border: 1px solid #555555;
                border-radius: 20px;
                box-sizing: border-box;
                min-width: 160px;
                max-width: 200px;

                img{
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                }
            }
        }
    }

    .formContainer {
        margin-top: auto;
        width: 70%; /* match chat's width */
        background-color: #221636;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 5px 10px;
        margin-bottom: 5px;

        form {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        input {
            flex: 1;
            padding: 12px;
            background-color: transparent;
            border: none;
            outline: none;
            color: azure;
            font-weight: 500;
            font-size: 14px;
            align-items: center;
        }

        button,
        label {
            border-radius: 50%;
            background-color: #605e68;
            border: none;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        button img,
        label img {
            width: 12px;
            height: 12px;
            object-fit: cover;
        }
    }
}