.dashboardLayout{
    display: flex;
    gap: 40px;
    padding-top: 20px;
    height: 100%;

    &::-webkit-scrollbar{
        display: none;
    }

    .menu{
        flex: 1;
    }

    .content{
        flex: 4;
        background-color: #0b021a;
        border-radius: 30px;
        padding-left: 20px;
        padding-top: 10px;
    }
}