.chatList {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.chatList hr {
    border: none;
    height: 2px;
    background-color: azure;
    opacity: 0.1;
    border-radius: 5px;
    margin: 10px 0 5px 0;
}

.chatList .title {
    font-weight: 700;
    font-size: 11px;
    margin: 20px 0 10px 0;
}

.chatList .list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    font-size: 15px;
}

.chatList .list::-webkit-scrollbar {
    display: none;
}

.chatList a {
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.2s;
}

.chatList a:hover {
    background-color: rgb(8, 8, 50);

}

.chatList a:focus {
    background-color: rgb(8, 8, 54);
}

.chatList .upgrade {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}

.chatList .upgrade img {
    width: 24px;
    height: 24px;
}

.chatList .upgrade .texts {
    display: flex;
    flex-direction: column;
}

.chatList .upgrade .texts span:first-child {
    font-weight: 600;
    color: azure;
}

.chatList .upgrade .texts span:last-child {
    color: #888;
}
